#heading1
##heading2
###heading3

In [7]:
# ini komentar
# untuk deskripsi kode
# print("Hello Clai") # mematikan kode

'''
ini multiple line komentar
baris 2
baris 3
dst
'''
print("Hello Fadlan") #ini inline komentar

Hello Fadlan

In [ ]:
# Variabel = wadah untuk menyimpan nilai/value atau data
usia = 23 #variable dengan nama "usia"
nama = "fadlan" #variable dengan nama "nama"
tinggi = 170

#usahakan nama variable sesuai dengan konteks
#1.jangan menggunakan angka di depan nama variabel
#23nilai = 90 (hasilnya akan muncul syntax error)
nilai1 = 90
#2. jangan pakai simbol dalam nama variable
# &angka = 78  (contoh)
#3. Jika lebih dari 1 kata, gunakan rekomendasi penulisan varibel
# Rekomendasi Penulisan Variable
# 1. Camel Case (punuk unta)
NamaSiswa = "Hafiz"
# 2. Snake Case
namaSiswa = "Gio"
# 3. Pascal Case
nama_siswa = "Anton"

luas_lingkaran = 3.14 * (7*7) #nyimpan formula
print (nama) #mencetak nilai/ value
print (usia)

print("Nama Siswa: ", nama)
print("usia siswa: ", usia)

fadlan
23
Nama Siswa:  fadlan
usia siswa:  23

In [17]:
#Tipe Data
# tipe data string (str)
nama_siswa = "Gio" #ini adalah tipe data string (teks)
print (type(nama_siswa))

#tipe data numeric (angka)
#int
usia_siswa = 25 # ini adalah tipe data int (bilangan bulat)
print(type(usia_siswa))

#float
tinggi_siswa = 170.5 #ini adalah tipe data float (bil.desimal)
print(type(tinggi_siswa))

<class 'str'>
<class 'int'>
<class 'float'>

In [38]:
#type data boolean (true atau false)
suka_python = True
print (type(suka_python))

<class 'bool'>

In [ ]:
#sequence types (tipe data yang memiliki Urutan)
#nama_siswa = "Clairen, ...., karena jumlahnya banyak maka bisa menggunakan data array/ list
#urutan data dimulai dari index --> 0
#list (daftar) menggunakan kurung kotak []
nama_siswa = ["Clairent", "Fadlan", "Gio", "Anton", "Hafiz"]
print(type(nama_siswa))
print(nama_siswa[0]) #indexing
print(nama_siswa[4]) #indexing
#nama_siswa.append("Ario")

<class 'list'>
Clairent
Hafiz

In [26]:
#tuple -> ()
nama_hari = ("Senin", "Selasa", "Rabu", "Kamis", "Jumat")
print(type(nama_hari))
print(nama_hari[0]) #indexing => akses elemen

<class 'tuple'>
Senin

In [30]:
#range() -> rentang
nilai_siswa = range(10) #start = 9, stop, step = 1
print (type(nilai_siswa))

<class 'range'>

In [28]:
nilai = range(1,10)
print(nilai)

range(1, 10)

In [32]:
for angka in range(1,11):
    print(angka)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Tipe data set (himpunan) => tidak ada urutan
#set {}
himp_siswa_a = {"Ario", "Clairine", "Hafiz"}
print(type(himp_siswa_a))
print(himp_siswa_a) #tanpa urutan

# biasanya digunakan untuk irisan, gabungan, selisih (beda dengan data sequence); dan bedakan kurung kurawal dan kurung saja

<class 'set'>
{'Clairine', 'Hafiz', 'Ario'}

In [ ]:
#Dictionary (kamus)
#dic {key:value} -> mapping tipe data
kontak_telpon = {
    "Hafiz": 998,  #key: value
    "Gio": 997,
    "Anton": 996,
    "Clairine": [995, 887, 778], #combine tipe data
}
print(type(kontak_telpon))

print(kontak_telpon) #cetak
print(kontak_telpon)

<class 'dict'>
{'Hafiz': 998, 'Gio': 997, 'Anton': 996, 'Clairine': [995, 887, 778]}

In [39]:
# String = urutan karakter
teks = "Clairine suka belajar python" #tanda "" atau ''
print(teks) #cetak string
print(teks[0]) #akses huruf C) --> indexing, selalu dimulai dari 0
print(teks[9]) #akses huruf S
#memotong/ slicing di string
print(teks[0:8]) #akses nama Claire

Clairine suka belajar python
C
s
Clairine

In [40]:
#split data
teks = teks.split()
print(teks)
print(teks[0])

['Clairine', 'suka', 'belajar', 'python']
Clairine

In [45]:
#Input
angka = 70 #input
#Output
print(angka)

# input nama
nama = input("Nama kamu: ")
print(nama)

70
anton

In [48]:
#string formating
teks = "halo teman-teman: "
print(teks)

#variable nilai siswa
nilai_siswa = 90
print("Nilai Siswa: ", nilai_siswa)
nama_siswa = "Hafiz"
print("Nama siswa: ", nama_siswa)

print("nama saya adalah: nama dan nilai saya: nilai")

#string format
#f"{kurung kurawal}"
print (f"nama saya adalah {nama_siswa}, nilai: {nilai_siswa}")  #prefer
#alternative
print("nama saya adalah: ", nama_siswa, "nilai", nilai_siswa)

halo teman-teman:
Nilai Siswa:  90
Nama siswa:  Hafiz
nama saya adalah: nama dan nilai saya: nilai
nama saya adalah Hafiz, nilai: 90
nama saya adalah:  Hafiz nilai 90

In [49]:
#control flow

# Operator Aritmetika
nilai_a = 90
nilai_b = 100

print(nilai_a + nilai_b) #operator +
print(nilai_a - nilai_b) #operator -
print(nilai_a / nilai_b) #operator / (bagi)
print(nilai_a * nilai_b) #operator x (kali)
print(nilai_a ** 2) #operator kuadrat
print(nilai_a % nilai_b) #operator modulus / sisa hasil bagi

190
-10
0.9
9000
8100
90

In [51]:
#operator comparison (hasil true/ false)
# <, >, <=, >=, ==, != (tidak sama dengan)
a = 10
b = 5

print (a>b) #true
print (a >= b) #True
print (a <= b) #False
print (a == b) #false
print (a != b) #True

True
True
False
False
True

In [52]:
# control flow if
'''
sintax

if kondisi == true:
    blok kode yang akan dieksekusi
'''
nilai = 95

if nilai > 90: #true/ false
    print("A")

A

In [53]:
#control flow if else
'''
sintax
if kondisi = true:
    blok kode yang akan dieksekusi
else  #apabila if false
    blok kode yang akan dieksekusi
''' 

nilai_siswa = 89

if nilai_siswa > 90: #false
    print("A")
else:
    print("kurang gacor")

kurang gacor

In [57]:
#control flow if elif else
''' 
sitax
if kondisi = true:
    blok kode yang akan dieksekusi
elif kondisi = true:
     blok kode yang akan dieksekusi
elif kondisi = true:
     blok kode yang akan dieksekusi
else: #apavila if dan elif false
     blok kode yang akan dieksekusi
'''
#nilai_siswa = 88
nilai_siswa = int (input("Masukkan Nilai Siswa"))

if nilai_siswa >= 90:  #comparison
    print("A")
elif nilai_siswa >=80:
    print("B")
elif nilai_siswa >= 70:
    print("C")
else:
    print("D")

D